In [ ]:
from google.colab import files
uploaded = files.upload()

Saving data.txt to data (5).txt

In [ ]:
!ls

'data (1).txt'	'data (3).txt'	'data (5).txt'	 new_data.txt
'data (2).txt'	'data (4).txt'	 data.txt	 sample_data

In [ ]:
with open('data.txt') as file_in:
    text = file_in.read()

text = text.replace(',', '.')

with open('data.txt', 'w') as file_out:
    file_out.write(text)

In [ ]:
import pandas as pd
import numpy as np

Extract the data

In [ ]:
data = pd.read_csv('data.txt', delimiter="\t", header=None, names=["N", "xa", "xp"])

In [ ]:
data

     N     xa    xp
0    1   0.37   1.0
1    2   0.74   1.0
2    3   0.92   1.0
3    4   1.29   1.5
4    5   1.47   1.5
5    6   1.84   1.5
6    7   2.03   1.5
7    8   2.21   2.0
8    9   2.77   2.0
9   10   2.40   2.0
10  11   2.95   2.5
11  12   3.14   2.5
12  13   3.51   3.0
13  14   3.71   5.0
14  15   3.93   5.0
15  16   4.20   6.0
16  17   3.86   7.0
17  18   4.50   8.0
18  19   4.73   9.0
19  20   5.35   9.5
20  21   5.74  10.0
21  22   6.14  11.0
22  23   6.52  11.0
23  24   6.98  11.5
24  25   7.44  12.0
25  26   7.76  12.0
26  27   8.20  13.0
27  28   8.56  14.0
28  29   8.94  14.0
29  30   9.70  15.0
30  31  10.08  15.0
31  32   9.52  15.0
32  33   9.52  15.0
33  34  10.80  15.5
34  35  11.23  16.0
35  36  11.65  16.0
36  37  12.51  17.0
37  38  12.93  17.0
38  39  13.36  18.0
39  40  13.36  18.0
40  41  14.64  19.0
41  42  15.07  20.0
42  43  15.92  20.0
43  44  14.21  20.0
44  45  16.44  21.0
45  46  16.78  22.0
46  47  17.13  23.0
47  48  19.86  24.0
48  49  20.20  25.0
49  50  20.54  25.0

Ordering objects in ascending order of the values of the xp attribute

In [ ]:
data = data.sort_values('xp')

Add a scale column xA

In [ ]:
data['xA'] =  np.nan

In [ ]:
data

     N     xa    xp  xA
0    1   0.37   1.0 NaN
1    2   0.74   1.0 NaN
2    3   0.92   1.0 NaN
3    4   1.29   1.5 NaN
4    5   1.47   1.5 NaN
5    6   1.84   1.5 NaN
6    7   2.03   1.5 NaN
7    8   2.21   2.0 NaN
8    9   2.77   2.0 NaN
9   10   2.40   2.0 NaN
10  11   2.95   2.5 NaN
11  12   3.14   2.5 NaN
12  13   3.51   3.0 NaN
13  14   3.71   5.0 NaN
14  15   3.93   5.0 NaN
15  16   4.20   6.0 NaN
16  17   3.86   7.0 NaN
17  18   4.50   8.0 NaN
18  19   4.73   9.0 NaN
19  20   5.35   9.5 NaN
20  21   5.74  10.0 NaN
21  22   6.14  11.0 NaN
22  23   6.52  11.0 NaN
23  24   6.98  11.5 NaN
25  26   7.76  12.0 NaN
24  25   7.44  12.0 NaN
26  27   8.20  13.0 NaN
27  28   8.56  14.0 NaN
28  29   8.94  14.0 NaN
29  30   9.70  15.0 NaN
30  31  10.08  15.0 NaN
31  32   9.52  15.0 NaN
32  33   9.52  15.0 NaN
33  34  10.80  15.5 NaN
34  35  11.23  16.0 NaN
35  36  11.65  16.0 NaN
37  38  12.93  17.0 NaN
36  37  12.51  17.0 NaN
38  39  13.36  18.0 NaN
39  40  13.36  18.0 NaN
40  41  14.64  19.0 NaN
41  42  15.07  20.0 NaN
42  43  15.92  20.0 NaN
43  44  14.21  20.0 NaN
44  45  16.44  21.0 NaN
45  46  16.78  22.0 NaN
46  47  17.13  23.0 NaN
47  48  19.86  24.0 NaN
48  49  20.20  25.0 NaN
49  50  20.54  25.0 NaN

In [ ]:
Xa = data['xa']
Xp = data['xp']

In [ ]:
Xa

0      0.37
1      0.74
2      0.92
3      1.29
4      1.47
5      1.84
6      2.03
7      2.21
8      2.77
9      2.40
10     2.95
11     3.14
12     3.51
13     3.71
14     3.93
15     4.20
16     3.86
17     4.50
18     4.73
19     5.35
20     5.74
21     6.14
22     6.52
23     6.98
25     7.76
24     7.44
26     8.20
27     8.56
28     8.94
29     9.70
30    10.08
31     9.52
32     9.52
33    10.80
34    11.23
35    11.65
37    12.93
36    12.51
38    13.36
39    13.36
40    14.64
41    15.07
42    15.92
43    14.21
44    16.44
45    16.78
46    17.13
47    19.86
48    20.20
49    20.54
Name: xa, dtype: float64

If there are sequences of k objects with ordinal numbers from t to t+k, each of which has the value of the attribute xa less than that of the object with the number (t-1), then the arithmetic mean value of the attribute xa is assigned to all the objects of the attribute:

![image.png]()

In [ ]:
def consistency_regressive_sequence(finish_ind, len_seq):
    ind = finish_ind - len_seq - 1
    value = 0.0

    while ind < finish_ind + 1:
      value+=Xa[ind]
      #print(value)
      ind+=1

    value/=(len_seq + 2)
    #print(value)
    ind = finish_ind - len_seq - 1

    while ind < finish_ind + 1:
      data['xA'][ind] = value
      #print(data['xA'])
      ind+=1

    return data

In [ ]:
start_ind = 0
len_sequence = 0
data['xA'][0] = Xa[0]
i = 1

while i < len(Xa):
  #print(i, " ", start_ind, " ", Xa[i]," ", Xa[start_ind])
  if (Xa[i] >= Xa[start_ind]):
    if (len_sequence == 0):
      data['xA'][i] = Xa[i]
      start_ind +=1
    else:
      data = consistency_regressive_sequence(i,len_sequence)
      start_ind = start_ind + len_sequence + 1
      len_sequence=0
  else:
    len_sequence+=1
  i += 1

In [ ]:
data

     N     xa    xp         xA
0    1   0.37   1.0   0.370000
1    2   0.74   1.0   0.740000
2    3   0.92   1.0   0.920000
3    4   1.29   1.5   1.290000
4    5   1.47   1.5   1.470000
5    6   1.84   1.5   1.840000
6    7   2.03   1.5   2.030000
7    8   2.21   2.0   2.210000
8    9   2.77   2.0   2.706667
9   10   2.40   2.0   2.706667
10  11   2.95   2.5   2.706667
11  12   3.14   2.5   3.140000
12  13   3.51   3.0   3.510000
13  14   3.71   5.0   3.710000
14  15   3.93   5.0   3.930000
15  16   4.20   6.0   4.186667
16  17   3.86   7.0   4.186667
17  18   4.50   8.0   4.186667
18  19   4.73   9.0   4.730000
19  20   5.35   9.5   5.350000
20  21   5.74  10.0   5.740000
21  22   6.14  11.0   6.140000
22  23   6.52  11.0   6.520000
23  24   6.98  11.5   6.980000
25  26   7.76  12.0   7.760000
24  25   7.44  12.0   7.440000
26  27   8.20  13.0   8.200000
27  28   8.56  14.0   8.560000
28  29   8.94  14.0   8.940000
29  30   9.70  15.0   9.700000
30  31  10.08  15.0   9.980000
31  32   9.52  15.0   9.980000
32  33   9.52  15.0   9.980000
33  34  10.80  15.5   9.980000
34  35  11.23  16.0  11.230000
35  36  11.65  16.0  11.650000
37  38  12.93  17.0  12.930000
36  37  12.51  17.0  12.510000
38  39  13.36  18.0  13.360000
39  40  13.36  18.0  13.360000
40  41  14.64  19.0  14.640000
41  42  15.07  20.0  15.070000
42  43  15.92  20.0  15.523333
43  44  14.21  20.0  15.523333
44  45  16.44  21.0  15.523333
45  46  16.78  22.0  16.780000
46  47  17.13  23.0  17.130000
47  48  19.86  24.0  19.860000
48  49  20.20  25.0  20.200000
49  50  20.54  25.0  20.540000

If there were no inversions of the values of the attribute xa, or they were eliminated, the presence of series is checked, i.e. a sequence of k objects with the same value of the attribute xp. At the same time , the corresponding values in the school xA are attributed to the arithmetic mean values of their attribute xa:

![image.png]()

In [ ]:
def consistency_same_sequence(finish_ind, len_seq):
    ind = finish_ind - len_seq - 1
    value = 0.0

    while ind < finish_ind:
      value+=Xa[ind]
      ind+=1

    value/=(len_seq+1)
    ind = finish_ind - len_seq - 1

    while ind < finish_ind:
      data['xA'][ind] = value
      ind+=1

    return data

In [ ]:
start_ind = 0
len_sequence = 0
i = 1

while i < len(Xp):
  #print(i, " ", start_ind, " ", Xp[i]," ", Xp[start_ind])
  if (Xp[i] != Xp[start_ind]):
    if(len_sequence != 0):
      data = consistency_same_sequence(i,len_sequence)
      start_ind+=len_sequence
      len_sequence=0
    start_ind+=1
  else:
    len_sequence+=1
  i += 1

In [ ]:
data

     N     xa    xp         xA
0    1   0.37   1.0   0.676667
1    2   0.74   1.0   0.676667
2    3   0.92   1.0   0.676667
3    4   1.29   1.5   1.657500
4    5   1.47   1.5   1.657500
5    6   1.84   1.5   1.657500
6    7   2.03   1.5   1.657500
7    8   2.21   2.0   2.460000
8    9   2.77   2.0   2.460000
9   10   2.40   2.0   2.460000
10  11   2.95   2.5   3.045000
11  12   3.14   2.5   3.045000
12  13   3.51   3.0   3.510000
13  14   3.71   5.0   3.820000
14  15   3.93   5.0   3.820000
15  16   4.20   6.0   4.186667
16  17   3.86   7.0   4.186667
17  18   4.50   8.0   4.186667
18  19   4.73   9.0   4.730000
19  20   5.35   9.5   5.350000
20  21   5.74  10.0   5.740000
21  22   6.14  11.0   6.330000
22  23   6.52  11.0   6.330000
23  24   6.98  11.5   6.980000
25  26   7.76  12.0   7.600000
24  25   7.44  12.0   7.600000
26  27   8.20  13.0   8.200000
27  28   8.56  14.0   8.750000
28  29   8.94  14.0   8.750000
29  30   9.70  15.0   9.705000
30  31  10.08  15.0   9.705000
31  32   9.52  15.0   9.705000
32  33   9.52  15.0   9.705000
33  34  10.80  15.5   9.980000
34  35  11.23  16.0  11.440000
35  36  11.65  16.0  11.440000
37  38  12.93  17.0  12.720000
36  37  12.51  17.0  12.720000
38  39  13.36  18.0  13.360000
39  40  13.36  18.0  13.360000
40  41  14.64  19.0  14.640000
41  42  15.07  20.0  15.066667
42  43  15.92  20.0  15.066667
43  44  14.21  20.0  15.066667
44  45  16.44  21.0  15.523333
45  46  16.78  22.0  16.780000
46  47  17.13  23.0  17.130000
47  48  19.86  24.0  19.860000
48  49  20.20  25.0  20.200000
49  50  20.54  25.0  20.540000

In [ ]:
average_xa = np.average(data['xa'])
average_xa

8.353

In [ ]:
average_xp = np.average(data['xp'])
average_xp

11.55

In [ ]:
average_xA = np.average(data['xA'])
average_xA

8.318266666666666

In [ ]:
average_xa_xA = np.average(data['xa']*data['xA'])
average_xa_xA

101.3719135

In [ ]:
average_xp_xA = np.average(data['xp']*data['xA'])
average_xp_xA

137.3177

In [ ]:
D_xa = np.average((data['xa']-average_xa)**2)
D_xa

32.136869000000004

In [ ]:
D_xp = np.average((data['xp']-average_xp)**2)
D_xp

55.76250000000001

In [ ]:
D_xA = np.average((data['xA']-average_xA)**2)
D_xA

31.730086717777777

![image.png]()

In [ ]:
r_xa_xA = (average_xa_xA - average_xa * average_xA) / (np.sqrt(D_xa*D_xA))
r_xa_xA

0.9986409567207858

In [ ]:
r_xp_xA = (average_xp_xA - average_xp * average_xA) / (np.sqrt(D_xp*D_xA))
r_xp_xA

0.9804603191711374

In [ ]:
d_a_A = 1 - r_xa_xA
d_a_A

0.0013590432792142115

In [ ]:
d_p_P = 1 - r_xp_xA
d_p_P

0.019539680828862593

the average measure of the distance between the signs xa and xp:

![image.png]()

In [ ]:
d_a_p = np.average(d_p_P+d_a_A)
d_a_p

0.020898724108076805

In [ ]:
data = round(data,3)

In [ ]:
data.to_csv('new_data.txt', index=False, encoding='utf-8-sig', sep="\t")

In [ ]:
files.download('new_data.txt')